<div class="cropBackground" [style.width.px]="totalWidth" (click)="onStar($event)">
        <span [style.width.px]="totalWidth">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </span>
    </div>
<div class="crop" [style.width.px]="starWidth" (click)="onStar($event)">
    <span [style.width.px]="totalWidth">
            
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </span>
</div>
